<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="RealmIpEndPoint" value="213.248.126.40:5555"/>
      <add key="AuthIpEndPoint" value="213.248.126.39:443"/>
    </appSettings>
</configuration>